@model Employee

@{
    ViewData["Title"] = "CreateQRCode";
}
<h1>Create QR Code</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQRCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="encryptedData" class="control-label"></label>
                <input asp-for="encryptedData" class="form-control" />
                <span asp-validation-for="encryptedData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nonEncryptedData" class="control-label"></label>
                <input asp-for="nonEncryptedData" class="form-control" />
                <span asp-validation-for="nonEncryptedData" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Take QRCode" class="btn btn-primary" />
            </div>
            <br />
            <div class="form-group">
                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
