@model Employee

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Employee</h2>
<hr />
<h3 class="message">Warning : You are about to delete an user</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Delete" merhod="post">
            <input type="hidden" asp-for="EmployeeID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            
            <br />

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}